div, a {color: red; font-weight: bold; }
p {color: green; font-size: 2em; }
#description {color: blue; }
.title {color: yellow; }
body {font-ftyle: italic; font-family: 'Times New Roman', Times, serif;}
#sub-desc {color: #ffaacc; }